.vy-toolbar {
  --dimension: 2.5em;

  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: var(--dimension);
  grid-template-rows: var(--dimension);
  grid-column-gap: var(--spacing--small);
  justify-content: center;
  border-top: 1px solid #e7e7e7;
  padding: var(--spacing);
  background-color: var(--c4);
}

.vy-toolbar__item {
  border-radius: var(--border-radius);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 2em;
  transition: background-position .2s;

  &.is-pen {
    background-image: url("/asset/img/pen-black.svg");

    &.is-red {
      background-image: url("/asset/img/pen-red.svg");
    }
  
    &.is-green {
      background-image: url("/asset/img/pen-green.svg");
    }
  
    &.is-blue {
      background-image: url("/asset/img/pen-blue.svg");
    }
  
    &.is-rgb {
      background-image: url("/asset/img/pen-rgb.svg");
    }
  }

  &.is-highlighter {
    background-image: url("/asset/img/highlighter-yellow.svg");

    &.is-red {
      background-image: url("/asset/img/highlighter-red.svg");
    }

    &.is-green {
      background-image: url("/asset/img/highlighter-green.svg");
    }

    &.is-blue {
      background-image: url("/asset/img/highlighter-blue.svg");
    }

    &.is-rgb {
      background-image: url("/asset/img/highlighter-rgb.svg");
    }
  }

  &.is-eraser {
    background-image: url("/asset/img/eraser.svg");

    &.is-fine {
      background-image: url("/asset/img/eraser-fine.svg");
    }

    &.is-block {
      background-image: url("/asset/img/eraser-block.svg");
    }
  }

  &.is-add {
    background-image: url("/asset/img/add.svg");
  }

  &.is-more {
    background-image: url("/asset/img/more--vertical.svg");
  }

  &.is-done {
    background-image: url("/asset/img/done.svg");
  }
}

.vy-toolbar__item {
  &.is-active {
    background-color: var(--c9);
  }
}

.vy-toolbar {
  &.is-level-2 {
    .vy-toolbar__item {
      &.is-pen,
      &.is-eraser,
      &.is-highlighter {
        &:not(.is-active):not(.is-fine):not(.is-block) {
          background-position: center var(--spacing--small);
          border: .5em solid var(--c4);
        }
      }
    }
  }
}