html,
body {
  height: 100%;
  width: 100%;
  font-size: 16px;
  color: var(--c-font-color);
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
}

[disabled] {
  opacity: .25;
}

.vy-app {
  position: relative;
  border: 1px solid #ccc;
  height: 800px;
  width: 400px;
  background-color: white;
  overflow: hidden;
}

.vy-container {
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  transition: left .2s;
}

.has-margin--top {
  margin-top: 1em;
}

p {
  margin: 0;
  font-size: .85em;

  &.is-large {
    font-size: 1.5em;
  }
}