/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

// @import "compass/reset";
@import "common.scss";
@import "home.scss";
@import "menu.scss";
@import "toast.scss";
@import "toolbar.scss";
@import "callout.scss";
@import "setting.scss";


:root {
  --c-border: #e7e7e7;
  --c-font-color: #3a3a3a;
}

.vy-button {
  border-radius: .25em;
  padding: .75em;
}

.vy-button.is-primary {
  border: 0;
  background-color: #6236ff;
  color: rgba(255, 255, 255, .75);
  font-weight: bold;
  box-shadow: 0 0 .75em .1em rgba(0, 0, 0, .15);
}

.vy-whiteboard__item {
  border: 1px solid #e7e7e7;
  border-radius: .25em;
  box-shadow: 0 0 .75em .1em rgba(0, 0, 0, .15);
}

.vy-whiteboard__item__preview {
  height: 12em;
}

.vy-whiteboard__item__footer {
  border-top: 1px solid #e7e7e7;
  width: 100%;
  padding: .5em .75em;
}

.vy-whiteboard__item__footer__title {
  font-size: 1em;
  color: #3a3a3a;
}
